html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  border: none;
  background-color: transparent;
}

textarea {
  resize: none;
}

address,
cite {
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

a,
button {
  color: inherit;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-dark: #202020;
  --color-bg: #f8f8f8;
  --color-gray: #8b8b8b;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText-Semibold.woff2") format("woff2"), url("../fonts/SFProText-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/Manrope-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  color: var(--color-dark);
  background-color: var(--color-white);
  position: relative;
  overflow-x: hidden;
}
@media (max-width: 767.98px) {
  body {
    font-size: 15px;
  }
}
body.no-scroll {
  overflow: hidden;
}

picture {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1470px;
  padding: 0px 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1920px;
  padding: 0px 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: 200ms ease-in;
  -o-transition: 200ms ease-in;
  transition: 200ms ease-in;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 550ms ease;
       -o-transition-delay: 550ms ease;
          transition-delay: 550ms ease;
}

.logo {
  display: block;
  width: 240px;
  height: 60px;
  -webkit-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 240px;
  height: 60px;
}
@media (max-width: 1270px) {
  .logo {
    width: calc(
        180px + 60 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 1270px) {
  .logo {
    height: calc(
        50px + 10 *
          ((100vw - 360px) / 910)
      );
  }
}
.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.logo:hover {
  opacity: 0.8;
}

.section-title {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1.6px;
  line-height: 1.2;
}
@media (max-width: 1270px) {
  .section-title {
    font-size: calc(
        22px + 10 *
          ((100vw - 360px) / 910)
      );
  }
}

.btn {
  line-height: 1;
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 10px 30px;
  height: 60px;
  border-radius: 10px;
  border: 2px solid var(--color-dark);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: color 200ms ease, background-color 200ms ease;
  -o-transition: color 200ms ease, background-color 200ms ease;
  transition: color 200ms ease, background-color 200ms ease;
}
@media (max-width: 991.98px) {
  .btn {
    height: 60px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .btn {
    height: calc(
        45px + 15 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 767.98px) {
  .btn {
    font-size: 14px;
  }
}
.btn:hover {
  background-color: var(--color-white);
  color: var(--color-dark);
}
.btn:active {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}
.btn--arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.btn--arrow svg {
  fill: currentColor;
}
.btn--arrow:hover {
  color: var(--color-dark);
  background-color: var(--color-white);
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #95959a;
  font-size: 13px;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
.company:hover {
  opacity: 0.7;
}
.company span {
  margin-right: 10px;
}
@media (max-width: 767.98px) {
  .company {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .company img {
    width: 140px;
  }
}

@-webkit-keyframes opacity-visibility {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes opacity-visibility {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.breadcrumbs {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1270px) {
  .breadcrumbs {
    padding-top: calc(
        15px + 9 *
          ((100vw - 360px) / 910)
      );
  }
}
.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.breadcrumbs__item {
  position: relative;
}
.breadcrumbs__item:not(:last-child) {
  margin-right: 7px;
  padding-right: 14px;
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}
.breadcrumbs__item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-90deg);
      -ms-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
  right: 0;
  -webkit-mask: url("../images/icons/chevron-down.svg") no-repeat center/contain;
          mask: url("../images/icons/chevron-down.svg") no-repeat center/contain;
  background-color: #c2c2c2;
}
.breadcrumbs__link {
  display: block;
  font-size: 14px;
  position: relative;
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
  color: #c2c2c2;
}
.breadcrumbs__link:hover {
  color: var(--color-text);
}

.swiper-button-next,
.swiper-button-prev {
  width: 35px;
  height: 35px;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
  top: 60%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: initial;
  background-color: var(--color-white);
  -webkit-mask: url("../img/icons/slider-arrow.svg") no-repeat center/contain;
          mask: url("../img/icons/slider-arrow.svg") no-repeat center/contain;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  -webkit-transform: translateY(-50%) scale(1.2);
      -ms-transform: translateY(-50%) scale(1.2);
          transform: translateY(-50%) scale(1.2);
}

.swiper-button-next::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.checkbox {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkbox__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #ddd;
  position: relative;
  margin-right: 10px;
  border-radius: 5px;
}
.checkbox__input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.checkbox__input:checked + .checkbox__box {
  background-image: url("../img/fill-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--color-dark);
}
.checkbox__text {
  color: var(--color-dark);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.48px;
}

.choices {
  font-size: 14px;
  line-height: 1.1;
  height: 55px;
  font-weight: 400;
  width: 100%;
  background-color: #242424;
  color: #686868;
  margin-bottom: 0 !important;
}
.choices__placeholder {
  opacity: 1;
}
.choices__inner {
  padding: 12px;
  padding-left: 20px;
  width: 100%;
  height: 100%;
  background-color: inherit !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: none;
}
.choices::after {
  border: none !important;
  width: 12px !important;
  height: 6px !important;
  margin-top: 0 !important;
  -webkit-mask-image: url("../images/icons/chevron.svg");
          mask-image: url("../images/icons/chevron.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: 100%;
          mask-size: 100%;
  background-color: #b2b2b2;
  right: 15px !important;
  top: 25px !important;
  -webkit-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in;
}
.choices.is-open::after {
  margin-top: 0 !important;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.choices__list {
  padding: 0;
  background-color: inherit;
  max-height: 130px;
  overflow-y: auto;
}
.choices__list .choices__item {
  background-color: inherit;
}
.choices__list--dropdown {
  z-index: 100;
  background-color: var(--color-dark-3);
}
.choices__list--dropdown .choices__list {
  max-height: 130px !important;
}
.choices__list--dropdown .choices__item {
  position: relative;
  padding: 12px !important;
  padding-right: 0 !important;
  background-color: var(--color-dark-3);
}
.choices__list--dropdown .choices__item:hover {
  background-color: var(--color-bg);
  color: var(--color-white);
}
.choices__list--dropdown .choices__item .choices__item--selectable {
  background-color: #ededed;
}
.choices__list--dropdown .choices__item.is-selected, .choices__list--dropdown .choices__item.is-highlighted {
  background-color: var(--color-dark-3);
}
.choices__list--dropdown .choices__item.is-selected:focus, .choices__list--dropdown .choices__item.is-highlighted:focus {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.choices__list--dropdown .choices__item.is-selected:hover, .choices__list--dropdown .choices__item.is-highlighted:hover {
  background-color: var(--color-bg);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  display: none;
}
.popup.active {
  opacity: 1;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popup__container {
  width: calc(100% - 40px);
  max-width: 470px;
  background-color: #fafafa;
  -webkit-transition: 250ms ease-in;
  -o-transition: 250ms ease-in;
  transition: 250ms ease-in;
  position: relative;
  overflow-y: auto;
  max-height: calc(100% - 100px);
  border-radius: 10px;
  padding: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (max-width: 1270px) {
  .popup__container {
    padding: calc(
        15px + 22 *
          ((100vw - 360px) / 910)
      );
  }
}
.popup__wrapper {
  width: 100%;
}
.popup__title {
  font-weight: 700;
  margin: 0 auto;
  line-height: 1.2;
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
}
@media (max-width: 1270px) {
  .popup__title {
    font-size: calc(
        22px + 8 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 1270px) {
  .popup__title {
    margin-bottom: calc(
        15px + 10 *
          ((100vw - 360px) / 910)
      );
  }
}
.popup__text {
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 15px;
  line-height: 1.32;
  color: #9493a0;
}
@media (max-width: 1270px) {
  .popup__text {
    margin-bottom: calc(
        20px + 15 *
          ((100vw - 360px) / 910)
      );
  }
}
.popup__close {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 16px;
  top: 16px;
  fill: #777;
  -webkit-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
}
.popup__close:hover {
  fill: var(--color-black);
}
.popup--calc .popup__container {
  max-width: 930px;
}
@media (max-width: 576px) {
  .popup--calc .popup__container {
    padding-top: 40px;
  }
}
.popup--calc .popup__title {
  max-width: 635px;
}
.popup--calc .popup__text {
  max-width: 565px;
}
.popup--calc .form-calc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 576px) {
  .popup--calc .form-calc {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.popup--calc .form-calc .choices {
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  height: 63px;
}
.popup--calc .form-calc__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1/-1;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 20px;
  border: 4px solid var(--color-accent);
  border-radius: 10px;
  margin-top: 25px;
}
@media (max-width: 991.98px) {
  .popup--calc .form-calc__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 576px) {
  .popup--calc .form-calc__bottom {
    padding: 10px;
    border-width: 2px;
  }
}
.popup--calc .form-calc__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media (max-width: 991.98px) {
  .popup--calc .form-calc__prices {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 576px) {
  .popup--calc .form-calc__prices {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
}
.popup--calc .form-calc__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  color: #222222;
}
.popup--calc .form-calc__price span {
  color: var(--color-accent);
}
.popup--calc .form-calc__btn {
  padding: 25px 28px;
  font-size: 15px;
  font-weight: 700;
}
@media (max-width: 991.98px) {
  .popup--calc .form-calc__btn {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .popup--calc .form-calc__btn {
    padding: 15px;
  }
}

.form-submit {
  width: 100%;
}
.form-submit__checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
}
@media (max-width: 767.98px) {
  .form-submit__checkboxes {
    margin-bottom: 32px;
  }
}
.form-submit__group {
  display: block;
  height: 60px;
  width: 100%;
}
.form-submit__group:not(:last-child) {
  margin-bottom: 20px;
}
.form-submit__input {
  height: 100%;
  background-color: #f6f6f6;
  padding: 10px 30px;
  color: #888;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.48px;
  border-radius: 15px;
  width: 100%;
}
.form-submit__btn {
  width: 100%;
  margin-bottom: 30px;
}
.form-submit__bottom {
  color: #8b8b8b;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.7px;
}
.form-submit__bottom a {
  color: inherit;
  text-decoration: underline;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
.form-submit__bottom a:hover {
  color: var(--color-dark);
}
@media (max-width: 767.98px) {
  .form-submit .checkbox__text {
    font-size: 12px;
  }
}

.header {
  padding: 15px 0;
  color: #333933;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  z-index: 10;
}
.header.scroll-header {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: var(--color-white);
  color: var(--color-dark);
  z-index: 12;
  width: 100%;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  -webkit-transition: 350ms ease-in-out;
  -o-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
  padding: 40px;
  padding-bottom: 20px;
}
@media (max-width: 1270px) {
  .mobile-menu {
    padding: calc(
        20px + 20 *
          ((100vw - 360px) / 910)
      );
  }
}
.mobile-menu.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.mobile-menu__top {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.mobile-menu__close {
  width: 30px;
  height: 30px;
}
.mobile-menu__close svg {
  width: 100%;
  height: 100%;
}
.mobile-menu__close svg path {
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
  stroke: var(--color-dark);
}
.mobile-menu__list {
  margin-bottom: 32px;
  width: 100%;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 15px;
}
.mobile-menu__link {
  font-size: 18px;
  width: 100%;
  display: block;
}
.mobile-menu__link span {
  border-bottom: 1px solid transparent;
  -webkit-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}
.mobile-menu__link:hover span {
  border-bottom-color: var(--color-dark);
}
.mobile-menu__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.mobile-menu__btns .mobile-menu__btn {
  padding: 12px 20px;
  border-radius: 5px;
}
.mobile-menu__btns .mobile-menu__btn:not(:last-child) {
  margin-bottom: 20px;
}
.mobile-menu__phone {
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #333933;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
  margin-right: 20px;
  margin-bottom: 20px;
}
.mobile-menu__phone:hover {
  opacity: 0.8;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials__item:not(:last-child) {
  margin-right: 25px;
}
@media (max-width: 1270px) {
  .socials__item:not(:last-child) {
    margin-right: calc(
        15px + 10 *
          ((100vw - 360px) / 910)
      );
  }
}
.socials__link {
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #d4d4d6;
  position: relative;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
.socials__link:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}
.socials__link:hover::after {
  background-color: var(--color-white);
}
.socials__link::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--color-accent);
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
.socials__link--vk::after {
  -webkit-mask: url("../img/socials/vk.svg") no-repeat center/contain;
          mask: url("../img/socials/vk.svg") no-repeat center/contain;
}
.socials__link--instagram::after {
  -webkit-mask: url("../img/socials/instagram.svg") no-repeat center/contain;
          mask: url("../img/socials/instagram.svg") no-repeat center/contain;
}
.socials__link--telegram::after {
  -webkit-mask: url("../img/socials/telegram.svg") no-repeat center/contain;
          mask: url("../img/socials/telegram.svg") no-repeat center/contain;
}

.types__title {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1.6px;
  margin-bottom: 70px;
}
@media (max-width: 991.98px) {
  .types__title {
    margin-bottom: 70px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .types__title {
    margin-bottom: calc(
        40px + 30 *
          ((100vw - 360px) / 910)
      );
  }
}
.types__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 991.98px) {
  .types__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .types__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.types .types-item {
  width: 100%;
  height: 580px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  border-radius: 10px;
  overflow: hidden;
  height: 580px;
}
@media (max-width: 1270px) {
  .types .types-item {
    height: calc(
        230px + 350 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 991.98px) {
  .types .types-item {
    padding: 30px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .types .types-item {
    padding: calc(
        10px + 20 *
          ((100vw - 360px) / 910)
      );
  }
}
.types .types-item__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.types .types-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.types .types-item__btn {
  position: relative;
  width: 100%;
  z-index: 2;
  margin-top: auto;
}
@media (max-width: 991.98px) {
  .types .types-item__btn {
    height: 60px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .types .types-item__btn {
    height: calc(
        45px + 15 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 767.98px) {
  .types .types-item__btn {
    background-color: var(--color-white);
    color: var(--color-dark);
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .types .types-item__btn svg {
    display: none;
  }
}

.snowboards {
  padding-top: 90px;
  padding-bottom: 90px;
}
@media (max-width: 1270px) {
  .snowboards {
    padding-top: calc(
        40px + 50 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 1270px) {
  .snowboards {
    padding-bottom: calc(
        40px + 50 *
          ((100vw - 360px) / 910)
      );
  }
}
.snowboards__title {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1.6px;
  margin-bottom: 70px;
}
@media (max-width: 991.98px) {
  .snowboards__title {
    margin-bottom: 70px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .snowboards__title {
    margin-bottom: calc(
        40px + 30 *
          ((100vw - 360px) / 910)
      );
  }
}
.snowboards__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media (max-width: 991.98px) {
  .snowboards__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.snowboards__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 991.98px) {
  .snowboards__list {
    gap: 30px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .snowboards__list {
    gap: calc(
        15px + 15 *
          ((100vw - 360px) / 910)
      );
  }
}
.snowboards__item {
  width: 100%;
  height: 100%;
}
.snowboards-banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px;
  border-radius: 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.snowboards-banner::after {
  position: absolute;
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(246, 246, 246, 0)), to(#f6f6f6));
  background: -o-linear-gradient(top, rgba(246, 246, 246, 0) 0%, #f6f6f6 100%);
  background: linear-gradient(180deg, rgba(246, 246, 246, 0) 0%, #f6f6f6 100%);
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 767.98px) {
  .snowboards-banner::after {
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  }
}
@media (max-width: 991.98px) {
  .snowboards-banner {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    height: 700px;
    padding: 30px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .snowboards-banner {
    height: calc(
        230px + 470 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .snowboards-banner {
    padding: calc(
        10px + 20 *
          ((100vw - 360px) / 910)
      );
  }
}
.snowboards-banner__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: auto;
}
.snowboards-banner__title {
  font-size: 40px;
  font-weight: 400;
  max-width: 525px;
  margin-bottom: 30px;
  color: #000;
}
@media (max-width: 991.98px) {
  .snowboards-banner__title {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .snowboards-banner__title {
    font-size: calc(
        22px + 18 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .snowboards-banner__title {
    margin-bottom: calc(
        10px + 20 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 767.98px) {
  .snowboards-banner__title {
    color: var(--color-white);
  }
}
.snowboards-banner__btn {
  max-width: 400px;
  width: 100%;
}
@media (max-width: 767.98px) {
  .snowboards-banner__btn {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.products-card {
  position: relative;
  border-radius: 20px;
  border: 1px solid #ddd;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.products-card:hover .products-card__body {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}
.products-card:hover .products-card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 767.98px) {
  .products-card:hover .products-card__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.products-card:hover .products-card__price {
  opacity: 0;
}
.products-card:hover .products-card__btn {
  -webkit-transform: translateY(40px);
      -ms-transform: translateY(40px);
          transform: translateY(40px);
}
@media (max-width: 767.98px) {
  .products-card:hover .products-card__btn {
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
  }
}
.products-card__btn-fav {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 24px;
  height: 24px;
  color: #ddd;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
@media (max-width: 767.98px) {
  .products-card__btn-fav {
    right: 15px;
    top: 15px;
  }
}
.products-card__btn-fav svg {
  width: 100%;
  height: 100%;
}
.products-card__btn-fav svg path {
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
.products-card__btn-fav:hover svg {
  fill: #ddd;
}
.products-card__top {
  width: 100%;
  height: 100%;
  padding: 40px;
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  height: 330px;
}
@media (max-width: 1270px) {
  .products-card__top {
    padding: calc(
        22px + 18 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 1270px) {
  .products-card__top {
    height: calc(
        165px + 165 *
          ((100vw - 360px) / 910)
      );
  }
}
.products-card__top img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.products-card__body {
  padding: 5px 15px 15px 15px;
  position: relative;
  -webkit-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}
@media (max-width: 767.98px) {
  .products-card__body {
    padding: 5px 10px;
  }
}
.products-card__title {
  color: var(--color-dark);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 1.1;
  margin-bottom: 10px;
  -webkit-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}
@media (max-width: 767.98px) {
  .products-card__title {
    font-size: 14px;
  }
}
.products-card__text {
  color: var(--color-dark);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 1.1;
  margin-bottom: 15px;
  -webkit-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}
@media (max-width: 767.98px) {
  .products-card__text {
    margin-bottom: 10px;
    font-size: 14px;
  }
}
.products-card__price {
  color: var(--color-dark);
  font-size: 20px;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: 1px;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
@media (max-width: 767.98px) {
  .products-card__price {
    font-size: 16px;
  }
}
.products-card__btn {
  width: calc(100% - 30px);
  position: absolute;
  bottom: 15px;
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-transition: color 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
  transition: color 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease, color 300ms ease, background-color 300ms ease;
  transition: transform 300ms ease, color 300ms ease, background-color 300ms ease;
  transition: transform 300ms ease, color 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
}

.categories-slider__slider {
  padding-top: 70px;
  padding-bottom: 70px;
}
.categories-slider__slide {
  width: auto;
}
.categories-slider .categories-card {
  width: 135px;
  height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (max-width: 991.98px) {
  .categories-slider .categories-card {
    height: 165px;
    width: 135px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .categories-slider .categories-card {
    height: calc(
        130px + 35 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .categories-slider .categories-card {
    width: calc(
        100px + 35 *
          ((100vw - 360px) / 910)
      );
  }
}
.categories-slider .categories-card__img-wrap {
  width: 100%;
  height: 135px;
  display: block;
  margin-bottom: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media (max-width: 991.98px) {
  .categories-slider .categories-card__img-wrap {
    height: 135px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .categories-slider .categories-card__img-wrap {
    height: calc(
        100px + 35 *
          ((100vw - 360px) / 910)
      );
  }
}
.categories-slider .categories-card .card-border {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.categories-slider .categories-card__img {
  width: 100%;
  height: 100%;
  display: block;
  width: 90px;
  height: 90px;
}
@media (max-width: 991.98px) {
  .categories-slider .categories-card__img {
    height: 90px;
    width: 90px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .categories-slider .categories-card__img {
    height: calc(
        65px + 25 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .categories-slider .categories-card__img {
    width: calc(
        65px + 25 *
          ((100vw - 360px) / 910)
      );
  }
}
.categories-slider .categories-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.categories-slider .categories-card__name {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.8px;
}

.collections {
  padding: 60px 0;
}
@media (max-width: 991.98px) {
  .collections {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .collections {
    padding-top: calc(
        35px + 25 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .collections {
    padding-bottom: calc(
        35px + 25 *
          ((100vw - 360px) / 910)
      );
  }
}
.collections__title {
  text-align: center;
  margin-bottom: 70px;
}
@media (max-width: 1270px) {
  .collections__title {
    margin-bottom: calc(
        32px + 38 *
          ((100vw - 360px) / 910)
      );
  }
}
.collections .swiper-slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
}

.collections-card {
  height: 450px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 991.98px) {
  .collections-card {
    height: 450px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .collections-card {
    height: calc(
        230px + 220 *
          ((100vw - 360px) / 910)
      );
  }
}
.collections-card__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.collections-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.collections-card__body {
  width: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: auto;
  z-index: 2;
  position: relative;
}
@media (max-width: 991.98px) {
  .collections-card__body {
    padding: 10px;
  }
}
.collections-card__body::after {
  position: absolute;
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(32, 32, 32, 0)), to(#202020));
  background: -o-linear-gradient(top, rgba(32, 32, 32, 0) 0%, #202020 100%);
  background: linear-gradient(180deg, rgba(32, 32, 32, 0) 0%, #202020 100%);
  bottom: 0;
  right: 0;
  width: 100%;
  height: 110%;
  z-index: -1;
}
.collections-card__title {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
@media (max-width: 991.98px) {
  .collections-card__title {
    font-size: 20px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .collections-card__title {
    font-size: calc(
        14px + 6 *
          ((100vw - 360px) / 910)
      );
  }
}
.collections-card__btn {
  width: 100%;
  background-color: var(--color-white);
  color: var(--color-dark);
  border-color: transparent;
}
.collections-card__btn:hover {
  color: var(--color-white);
  background-color: var(--color-dark);
}
@media (max-width: 767.98px) {
  .collections-card__btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.new-items {
  padding-top: 90px;
  padding-bottom: 90px;
}
@media (max-width: 1270px) {
  .new-items {
    padding-top: calc(
        40px + 50 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 1270px) {
  .new-items {
    padding-bottom: calc(
        40px + 50 *
          ((100vw - 360px) / 910)
      );
  }
}
.new-items__title {
  color: #000;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1.6px;
  margin-bottom: 70px;
}
@media (max-width: 991.98px) {
  .new-items__title {
    margin-bottom: 70px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .new-items__title {
    margin-bottom: calc(
        40px + 30 *
          ((100vw - 360px) / 910)
      );
  }
}
.new-items__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 70px;
}
@media (max-width: 1270px) {
  .new-items__list {
    margin-bottom: calc(
        30px + 40 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 991.98px) {
  .new-items__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
.new-items__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.community {
  padding: 60px 0;
}
@media (max-width: 991.98px) {
  .community {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .community {
    padding-top: calc(
        30px + 30 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .community {
    padding-bottom: calc(
        30px + 30 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 991.98px) {
  .community .container {
    padding: 0;
  }
}
.community__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  border-radius: 20px;
  overflow: hidden;
  height: 500px;
}
@media (max-width: 991.98px) {
  .community__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    border-radius: 0;
    height: auto;
  }
}
.community__img {
  width: 100%;
  height: 100%;
}
.community__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 991.98px) {
  .community__img {
    height: 500px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .community__img {
    height: calc(
        240px + 260 *
          ((100vw - 360px) / 910)
      );
  }
}
.community__right {
  padding: 60px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  padding-left: 60px;
  padding-right: 60px;
}
@media (max-width: 1270px) {
  .community__right {
    padding-left: calc(
        16px + 44 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 1270px) {
  .community__right {
    padding-right: calc(
        16px + 44 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 991.98px) {
  .community__right {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .community__right {
    padding-top: calc(
        24px + 36 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .community__right {
    padding-bottom: calc(
        24px + 36 *
          ((100vw - 360px) / 910)
      );
  }
}
.community__btn {
  max-width: 340px;
  width: 100%;
  margin-top: auto;
}
.community__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 1.6px;
  margin-bottom: 30px;
}
@media (max-width: 991.98px) {
  .community__title {
    font-size: 32px;
    margin-bottom: 30px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .community__title {
    font-size: calc(
        22px + 10 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .community__title {
    margin-bottom: calc(
        24px + 6 *
          ((100vw - 360px) / 910)
      );
  }
}
.community__text {
  margin-bottom: 24px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 1.1px;
}
@media (max-width: 991.98px) {
  .community__text {
    font-size: 22px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .community__text {
    font-size: calc(
        16px + 6 *
          ((100vw - 360px) / 910)
      );
  }
}

.articles {
  padding: 60px 0;
}
@media (max-width: 991.98px) {
  .articles {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .articles {
    padding-top: calc(
        35px + 25 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .articles {
    padding-bottom: calc(
        35px + 25 *
          ((100vw - 360px) / 910)
      );
  }
}
.articles__title {
  color: #000;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1.6px;
  margin-bottom: 70px;
}
@media (max-width: 991.98px) {
  .articles__title {
    margin-bottom: 70px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .articles__title {
    margin-bottom: calc(
        40px + 30 *
          ((100vw - 360px) / 910)
      );
  }
}
.articles__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 70px;
}
@media (max-width: 1270px) {
  .articles__list {
    margin-bottom: calc(
        35px + 35 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 991.98px) {
  .articles__list {
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .articles__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.articles__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 280px;
  width: 100%;
}
@media (max-width: 576px) {
  .articles__btn {
    max-width: 100%;
  }
}

.article-card {
  height: 580px;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
}
.article-card::after {
  position: absolute;
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(32, 32, 32, 0)), to(#202020));
  background: -o-linear-gradient(top, rgba(32, 32, 32, 0) 0%, #202020 100%);
  background: linear-gradient(180deg, rgba(32, 32, 32, 0) 0%, #202020 100%);
  height: 70%;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .article-card::after {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .article-card {
    height: 450px;
  }
}
@media (max-width: 767.98px) {
  .article-card {
    height: auto;
  }
}
.article-card__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .article-card__img {
    position: static;
    margin-bottom: 20px;
    height: 400px;
  }
}
@media (max-width: 767.98px) and (max-width: 1270px) {
  .article-card__img {
    height: calc(
        180px + 220 *
          ((100vw - 360px) / 910)
      );
  }
}
.article-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767.98px) {
  .article-card__img img {
    border-radius: 15px;
  }
}
.article-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  margin-top: auto;
  padding: 30px;
  color: var(--color-white);
}
@media (max-width: 991.98px) {
  .article-card__body {
    padding: 20px;
  }
}
@media (max-width: 767.98px) {
  .article-card__body {
    color: var(--color-dark);
    padding: 0 5px;
  }
}
.article-card__title {
  color: var(--color-white);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 1.6px;
  max-width: 425px;
  margin-bottom: 10px;
}
@media (max-width: 991.98px) {
  .article-card__title {
    font-size: 32px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .article-card__title {
    font-size: calc(
        22px + 10 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 767.98px) {
  .article-card__title {
    color: var(--color-dark);
  }
}
.article-card__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  max-width: 550px;
  margin-bottom: 16px;
}
@media (max-width: 767.98px) {
  .article-card__text {
    color: #8b8b8b;
    font-size: 14px;
  }
}
.article-card__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.7px;
  gap: 30px;
}
.article-card__detail:not(:last-child) {
  position: relative;
}
.article-card__detail:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  background-color: #8b8b8b;
  top: 50%;
  right: -15px;
  border-radius: 50%;
}

.faq {
  padding: 60px 0;
}
@media (max-width: 991.98px) {
  .faq {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .faq {
    padding-top: calc(
        35px + 25 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .faq {
    padding-bottom: calc(
        35px + 25 *
          ((100vw - 360px) / 910)
      );
  }
}
.faq__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 991.98px) {
  .faq__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}
@media (max-width: 767.98px) {
  .faq__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.faq-item {
  border-radius: 20px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px;
}
.faq-item svg {
  width: 24px;
  height: 24px;
  margin-bottom: 20px;
}
.faq-item__title {
  color: var(--color-dark);
  font-size: 20px;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
@media (max-width: 991.98px) {
  .faq-item__title {
    font-size: 20px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .faq-item__title {
    font-size: calc(
        16px + 4 *
          ((100vw - 360px) / 910)
      );
  }
}
.faq-item__text {
  color: var(--color-gray);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.48px;
}
@media (max-width: 991.98px) {
  .faq-item__text {
    font-size: 16px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .faq-item__text {
    font-size: calc(
        14px + 2 *
          ((100vw - 360px) / 910)
      );
  }
}

.subscribe {
  padding: 60px 0;
}
@media (max-width: 991.98px) {
  .subscribe {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .subscribe {
    padding-top: calc(
        35px + 25 *
          ((100vw - 360px) / 910)
      );
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .subscribe {
    padding-bottom: calc(
        35px + 25 *
          ((100vw - 360px) / 910)
      );
  }
}
.subscribe__wrapper {
  text-align: center;
}
.subscribe__title {
  max-width: 600px;
  margin: 0 auto;
  font-size: 40px;
  margin-bottom: 30px;
}
@media (max-width: 991.98px) {
  .subscribe__title {
    font-size: 40px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .subscribe__title {
    font-size: calc(
        30px + 10 *
          ((100vw - 360px) / 910)
      );
  }
}
.subscribe__text {
  font-size: 22px;
  max-width: 695px;
  margin: 0 auto;
  margin-bottom: 48px;
}
@media (max-width: 991.98px) {
  .subscribe__text {
    font-size: 22px;
    margin-bottom: 32px;
  }
}
@media (max-width: 991.98px) and (max-width: 1270px) {
  .subscribe__text {
    font-size: calc(
        16px + 6 *
          ((100vw - 360px) / 910)
      );
  }
}
.subscribe__form {
  max-width: 460px;
  margin: 0 auto;
}