<section class="articles">
  <div class="container">
    <h2 class="articles__title section-title">Статьи</h2>
    <ul class="articles__list">
      <li class="articles__item">
        <article class="article-card">
          <div class="article-card__img">
            <picture>
              <source
                srcset="img/articles/1.webp, img/snowboards/1-2x.webp 2x"
                type="image/webp"
              />
              <img
                srcset="img/articles/1.jpg, img/articles/1-2x.jpg 2x"
                src="img/articles/1.jpg"
                alt="img"
              />
            </picture>
          </div>
          <div class="article-card__body">
            <h3 class="article-card__title">Как выбрать кеды для скейтборда</h3>
            <p class="article-card__text">
              Приличная нагрузка на ноги и необходимость контроля доски — вот
              два главный фактора
            </p>
            <div class="article-card__details">
              <span class="article-card__detail">22.04.22</span>
              <span class="article-card__detail">Скейтбординг</span>
            </div>
          </div>
        </article>
      </li>
      <li class="articles__item">
        <article class="article-card">
          <div class="article-card__img">
            <picture>
              <source
                srcset="img/articles/2.webp, img/snowboards/2-2x.webp 2x"
                type="image/webp"
              />
              <img
                srcset="img/articles/2.jpg, img/articles/2-2x.jpg 2x"
                src="img/articles/2.jpg"
                alt="img"
              />
            </picture>
          </div>
          <div class="article-card__body">
            <h3 class="article-card__title">Как выбрать кеды для скейтборда</h3>
            <p class="article-card__text">
              Приличная нагрузка на ноги и необходимость контроля доски — вот
              два главный фактора
            </p>
            <div class="article-card__details">
              <span class="article-card__detail">22.04.22</span>
              <span class="article-card__detail">Скейтбординг</span>
            </div>
          </div>
        </article>
      </li>
    </ul>
    <button class="articles__btn btn" type="button">Перейти к блогу</button>
  </div>
</section>
