<section class="articles">
  <div class="container">
    <h2 class="articles__title section-title">Статьи</h2>
    <ul class="articles__list">
      <li class="articles__item">
        <article class="article-card">
          <div class="article-card__img">
            <picture>
              <source srcset="img/articles/1.webp" type="image/webp" />
              <img src="img/articles/1.jpg" alt="img" />
            </picture>
          </div>
          <div class="article-card__body">
            <h3 class="article-card__title">Как выбрать кеды для скейтборда</h3>
            <p class="article-card__text">
              Приличная нагрузка на ноги и необходимость контроля доски — вот
              два главный фактора
            </p>
            <div class="article-card__details">
              <span class="article-card__detail">22.04.22</span>
              <span class="article-card__detail">Скейтбординг</span>
            </div>
          </div>
        </article>
      </li>
      <li class="articles__item">
        <article class="article-card">
          <div class="article-card__img">
            <picture>
              <source srcset="img/articles/2.webp" type="image/webp" />
              <img src="img/articles/2.jpg" alt="img" />
            </picture>
          </div>
          <div class="article-card__body">
            <h3 class="article-card__title">Как выбрать кеды для скейтборда</h3>
            <p class="article-card__text">
              Приличная нагрузка на ноги и необходимость контроля доски — вот
              два главный фактора
            </p>
            <div class="article-card__details">
              <span class="article-card__detail">22.04.22</span>
              <span class="article-card__detail">Скейтбординг</span>
            </div>
          </div>
        </article>
      </li>
    </ul>
    <button class="articles__btn btn" type="button">Перейти к блогу</button>
  </div>
</section>
