<section class="brands-row">
  <div class="container">
    <h2 class="visually-hidden">Бренды</h2>

    <div class="brands-row__slider swiper">
      <ul class="brands-row__slides swiper-wrapper">
        <li class="brands-row__slide swiper-slide">
          <img width="73" height="73" src="img/brands/1.svg" alt="brand" />
        </li>
        <li class="brands-row__slide swiper-slide">
          <img idth="73" height="73" src="img/brands/2.svg" alt="brand" />
        </li>
        <li class="brands-row__slide swiper-slide">
          <img idth="73" height="73" src="img/brands/3.svg" alt="brand" />
        </li>
        <li class="brands-row__slide swiper-slide">
          <img idth="73" height="73" src="img/brands/4.svg" alt="brand" />
        </li>
        <li class="brands-row__slide swiper-slide">
          <img idth="73" height="73" src="img/brands/5.svg" alt="brand" />
        </li>
        <li class="brands-row__slide swiper-slide">
          <img idth="73" height="73" src="img/brands/6.svg" alt="brand" />
        </li>
        <li class="brands-row__slide swiper-slide">
          <img idth="73" height="73" src="img/brands/7.svg" alt="brand" />
        </li>
        <li class="brands-row__slide swiper-slide">
          <img idth="73" height="73" src="img/brands/8.svg" alt="brand" />
        </li>
        <li class="brands-row__slide swiper-slide">
          <img width="73" height="73" src="img/brands/1.svg" alt="brand" />
        </li>
        <li class="brands-row__slide swiper-slide">
          <img idth="73" height="73" src="img/brands/2.svg" alt="brand" />
        </li>
        <li class="brands-row__slide swiper-slide">
          <img idth="73" height="73" src="img/brands/3.svg" alt="brand" />
        </li>
        <li class="brands-row__slide swiper-slide">
          <img idth="73" height="73" src="img/brands/4.svg" alt="brand" />
        </li>
        <li class="brands-row__slide swiper-slide">
          <img idth="73" height="73" src="img/brands/5.svg" alt="brand" />
        </li>
        <li class="brands-row__slide swiper-slide">
          <img idth="73" height="73" src="img/brands/6.svg" alt="brand" />
        </li>
        <li class="brands-row__slide swiper-slide">
          <img idth="73" height="73" src="img/brands/7.svg" alt="brand" />
        </li>
        <li class="brands-row__slide swiper-slide">
          <img idth="73" height="73" src="img/brands/8.svg" alt="brand" />
        </li>
      </ul>
    </div>
  </div>
</section>
