<section class="categories-slider">
  <div class="container">
    <h2 class="visually-hidden">Категории</h2>
    <div class="categories-slider__slider swiper">
      <ul class="categories-slider__slides swiper-wrapper">
        <li class="categories-slider__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap border-dashed">
              <svg
                class="card-border"
                xmlns="http://www.w3.org/2000/svg"
                width="135"
                height="135"
                viewBox="0 0 135 135"
                fill="none"
              >
                <circle
                  cx="67.5"
                  cy="67.5"
                  r="66.5"
                  stroke="#DDDDDD"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-dasharray="10 10"
                />
              </svg>
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/1.webp" type="image/webp" />
                  <img src="img/categories/1.png" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Новинки</span>
          </a>
        </li>
        <li class="categories-slider__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap">
              <svg
                class="card-border"
                xmlns="http://www.w3.org/2000/svg"
                width="135"
                height="135"
                viewBox="0 0 135 135"
                fill="none"
              >
                <circle
                  cx="67.5"
                  cy="67.5"
                  r="66.5"
                  stroke="#8B8B8B"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/2.webp" type="image/webp" />
                  <img src="img/categories/2.png" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Новинки</span>
          </a>
        </li>
        <li class="categories-slider__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap">
              <svg
                class="card-border"
                xmlns="http://www.w3.org/2000/svg"
                width="135"
                height="135"
                viewBox="0 0 135 135"
                fill="none"
              >
                <circle
                  cx="67.5"
                  cy="67.5"
                  r="66.5"
                  stroke="#8B8B8B"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/3.webp" type="image/webp" />
                  <img src="img/categories/3.png" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Новинки</span>
          </a>
        </li>
        <li class="categories-slider__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap">
              <svg
                class="card-border"
                xmlns="http://www.w3.org/2000/svg"
                width="135"
                height="135"
                viewBox="0 0 135 135"
                fill="none"
              >
                <circle
                  cx="67.5"
                  cy="67.5"
                  r="66.5"
                  stroke="#8B8B8B"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/4.webp" type="image/webp" />
                  <img src="img/categories/4.png" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Новинки</span>
          </a>
        </li>
        <li class="categories-slider__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap">
              <svg
                class="card-border"
                xmlns="http://www.w3.org/2000/svg"
                width="135"
                height="135"
                viewBox="0 0 135 135"
                fill="none"
              >
                <circle
                  cx="67.5"
                  cy="67.5"
                  r="66.5"
                  stroke="#8B8B8B"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/5.webp" type="image/webp" />
                  <img src="img/categories/5.png" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Новинки</span>
          </a>
        </li>
        <li class="categories-slider__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap">
              <svg
                class="card-border"
                xmlns="http://www.w3.org/2000/svg"
                width="135"
                height="135"
                viewBox="0 0 135 135"
                fill="none"
              >
                <circle
                  cx="67.5"
                  cy="67.5"
                  r="66.5"
                  stroke="#8B8B8B"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/6.webp" type="image/webp" />
                  <img src="img/categories/6.png" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Новинки</span>
          </a>
        </li>
        <li class="categories-slider__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap">
              <svg
                class="card-border"
                xmlns="http://www.w3.org/2000/svg"
                width="135"
                height="135"
                viewBox="0 0 135 135"
                fill="none"
              >
                <circle
                  cx="67.5"
                  cy="67.5"
                  r="66.5"
                  stroke="#8B8B8B"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/7.webp" type="image/webp" />
                  <img src="img/categories/7.png" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Новинки</span>
          </a>
        </li>
        <li class="categories-slider__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap border-dashed">
              <svg
                class="card-border"
                xmlns="http://www.w3.org/2000/svg"
                width="135"
                height="135"
                viewBox="0 0 135 135"
                fill="none"
              >
                <circle
                  cx="67.5"
                  cy="67.5"
                  r="66.5"
                  stroke="#DDDDDD"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-dasharray="10 10"
                />
              </svg>
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/1.webp" type="image/webp" />
                  <img src="img/categories/1.png" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Новинки</span>
          </a>
        </li>
        <li class="categories-slider__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap">
              <svg
                class="card-border"
                xmlns="http://www.w3.org/2000/svg"
                width="135"
                height="135"
                viewBox="0 0 135 135"
                fill="none"
              >
                <circle
                  cx="67.5"
                  cy="67.5"
                  r="66.5"
                  stroke="#8B8B8B"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/2.webp" type="image/webp" />
                  <img src="img/categories/2.png" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Новинки</span>
          </a>
        </li>
        <li class="categories-slider__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap">
              <svg
                class="card-border"
                xmlns="http://www.w3.org/2000/svg"
                width="135"
                height="135"
                viewBox="0 0 135 135"
                fill="none"
              >
                <circle
                  cx="67.5"
                  cy="67.5"
                  r="66.5"
                  stroke="#8B8B8B"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/3.webp" type="image/webp" />
                  <img src="img/categories/3.png" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Новинки</span>
          </a>
        </li>
        <li class="categories-slider__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap">
              <svg
                class="card-border"
                xmlns="http://www.w3.org/2000/svg"
                width="135"
                height="135"
                viewBox="0 0 135 135"
                fill="none"
              >
                <circle
                  cx="67.5"
                  cy="67.5"
                  r="66.5"
                  stroke="#8B8B8B"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/4.webp" type="image/webp" />
                  <img src="img/categories/4.png" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Новинки</span>
          </a>
        </li>
        <li class="categories-slider__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap">
              <svg
                class="card-border"
                xmlns="http://www.w3.org/2000/svg"
                width="135"
                height="135"
                viewBox="0 0 135 135"
                fill="none"
              >
                <circle
                  cx="67.5"
                  cy="67.5"
                  r="66.5"
                  stroke="#8B8B8B"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/5.webp" type="image/webp" />
                  <img src="img/categories/5.png" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Новинки</span>
          </a>
        </li>
        <li class="categories-slider__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap">
              <svg
                class="card-border"
                xmlns="http://www.w3.org/2000/svg"
                width="135"
                height="135"
                viewBox="0 0 135 135"
                fill="none"
              >
                <circle
                  cx="67.5"
                  cy="67.5"
                  r="66.5"
                  stroke="#8B8B8B"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/6.webp" type="image/webp" />
                  <img src="img/categories/6.png" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Новинки</span>
          </a>
        </li>
        <li class="categories-slider__slide swiper-slide">
          <a class="categories-card" href="#">
            <span class="categories-card__img-wrap">
              <svg
                class="card-border"
                xmlns="http://www.w3.org/2000/svg"
                width="135"
                height="135"
                viewBox="0 0 135 135"
                fill="none"
              >
                <circle
                  cx="67.5"
                  cy="67.5"
                  r="66.5"
                  stroke="#8B8B8B"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
              <span class="categories-card__img">
                <picture>
                  <source srcset="img/categories/7.webp" type="image/webp" />
                  <img src="img/categories/7.png" alt="img" />
                </picture>
              </span>
            </span>
            <span class="categories-card__name">Новинки</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
