<section class="gift-box gift-box--h-556 pb-130">
  <div class="container">
    <div class="gift-box__wrapper">
      <div class="gift-box__left">
        <h2 class="gift-box__title section-title">
          Как выбрать одежду своего размера?
        </h2>
        <div class="gift-box__text fz-16">
          <p>
            Вам понадобится провести измерения с помощью сантиметровой ленты.
            Для определения подходящего размера необходимо соотнести полученные
            измерения с размерами в таблице.
          </p>

          <p>
            При измерении обхвата груди лента должна плотно прилегать к телу,
            спереди проходить по наиболее выступающим точкам, сбоку через
            подмышечные впадины, сзади обхватывая лопатки.
          </p>
          <p>
            Обхват талии измеряется строго горизонтально по самой узкой части
            тела, проходя через самую выступающую точку живота.
          </p>
          <p>
            При измерении обхвата бедер лента должна находиться горизонтально,
            проходя посредине бедра и сзади по наиболее выступающим точкам
            ягодиц.
          </p>
        </div>
      </div>
      <div class="gift-box__img">
        <picture>
          <source
            srcset="img/questions-img.webp, img/questions-img-2x.webp 2x"
            type="image/webp"
          />
          <img
            srcset="img/questions-img.jpg, img/questions-img-2x.jpg 2x"
            src="img/questions-img/1.jpg"
            alt="img"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
