<section class="contacts">
  <div class="container">
    <h1 class="contacts__title page-title">Контактная информация</h1>

    <ul class="contacts__list">
      <li class="contacts-item">
        <b class="contacts-item__name">Клиентская поддержка</b>
        <p class="contacts-item__text">
          Мы будем рады ответить на ваши вопросы ежедневно с 11:00 до 20:00
        </p>
        <a class="contacts-item__link" href="tel:+74212294220">
          8 (4212) 29-42-20
        </a>
        <a class="contacts-item__link" href="mailto:info@skatesnowboard.ru">
          info@skatesnowboard.ru
        </a>
      </li>
      <li class="contacts-item">
        <b class="contacts-item__name">Контакты магазина</b>
        <p class="contacts-item__text">
          Ждем вас в нашем магазине по адресу г. Хабаровск, ул. Комсомольская,
          38 ежедневно с 11:00 до 20:00
        </p>
        <a class="contacts-item__link contacts-item__link--underline" href="#">
          Схема проезда
        </a>
      </li>
      <li class="contacts-item">
        <b class="contacts-item__name">Юридическая информация</b>
        <div class="contacts-item__text">
          Общество с ограниченной ответственностью «Смарт Шоп»
          <p>ИНН 2722063003</p>
          <p>КПП 272201001</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="contacts__map map">
    <script
      type="text/javascript"
      charset="utf-8"
      async
      src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5424fccb34e59e12853ba74d5a3abb3513356fe7fff2a827a7b623b7a50b15e0&amp;width=1000&amp;height=700&amp;lang=ru_RU&amp;scroll=true"
    ></script>
  </div>
</section>
