<section class="gift-cards">
  <div class="container">
    <h1 class="gift-cards__title page-title">Оформление подарочной карты</h1>

    <ul class="gift-cards__list">
      <li class="gift-cards-item">
        <div class="gift-cards-item__top">
          <picture>
            <source
              srcset="img/gift-cards/1.webp, img/gift-cards/1-2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="img/gift-cards/1.png, img/gift-cards/1-2x.png 2x"
              src="img/gift-cards/1.png"
              alt="img"
            />
          </picture>
        </div>
        <span class="gift-cards-item__price">1,000 ₽</span>
      </li>
      <li class="gift-cards-item">
        <div class="gift-cards-item__top">
          <picture>
            <source
              srcset="img/gift-cards/1.webp, img/gift-cards/1-2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="img/gift-cards/1.png, img/gift-cards/1-2x.png 2x"
              src="img/gift-cards/1.png"
              alt="img"
            />
          </picture>
        </div>
        <span class="gift-cards-item__price">1,000 ₽</span>
      </li>
      <li class="gift-cards-item">
        <div class="gift-cards-item__top">
          <picture>
            <source
              srcset="img/gift-cards/1.webp, img/gift-cards/1-2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="img/gift-cards/1.png, img/gift-cards/1-2x.png 2x"
              src="img/gift-cards/1.png"
              alt="img"
            />
          </picture>
        </div>
        <span class="gift-cards-item__price">1,000 ₽</span>
      </li>
      <li class="gift-cards-item">
        <div class="gift-cards-item__top">
          <picture>
            <source
              srcset="img/gift-cards/1.webp, img/gift-cards/1-2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="img/gift-cards/1.png, img/gift-cards/1-2x.png 2x"
              src="img/gift-cards/1.png"
              alt="img"
            />
          </picture>
        </div>
        <span class="gift-cards-item__price">1,000 ₽</span>
      </li>
    </ul>
  </div>
</section>
