<section class="how-work">
  <div class="container">
    <h2 class="how-work__title section-title">Как это работает?</h2>

    <ul class="how-work__list">
      <li class="how-work__item">
        <p class="how-work__text">Зайдите в карточку интересующего товара</p>
      </li>
      <li class="how-work__item">
        <p class="how-work__text">Нажмите кнопку “Посмотреть онлайн”</p>
      </li>
      <li class="how-work__item">
        <p class="how-work__text">С вами свяжется продавец в WhatsApp</p>
      </li>
      <li class="how-work__item">
        <p class="how-work__text">Камеру включать не нужно.</p>
      </li>
    </ul>
  </div>
</section>
