<section class="how-work">
  <div class="container">
    <h2 class="how-work__title section-title">Как это работает?</h2>

    <ul class="how-work__list">
      <li class="how-work__item">
        <p class="how-work__text">
          Определитесь с покупкой. В качестве оплаты выберите «Покупай со
          Сбером». Выберите удобный способ доставки.
        </p>
      </li>
      <li class="how-work__item">
        <p class="how-work__text">
          Авторизуйтесь в приложении Сбербанк Онлайн и заполните заявку
        </p>
      </li>
      <li class="how-work__item">
        <p class="how-work__text">
          Если рассрочка одобрена, оплата заказа происходит автоматически.
        </p>
      </li>
      <li class="how-work__item">
        <p class="how-work__text">
          Поздравляем! Теперь вы можете получить свой товар.
        </p>
      </li>
    </ul>
  </div>
</section>
