<section class="how-buy">
  <div class="container">
    <h2 class="how-buy__title section-title">Как купить?</h2>

    <ul class="how-buy__list">
      <li class="how-buy__item">
        <p class="how-buy__text">
          Посетить наш магазин или можно купить онлайн
        </p>
      </li>
      <li class="how-buy__item">
        <p class="how-buy__text">Выбрать вариант карты, дизайн и её номинал</p>
      </li>
      <li class="how-buy__item">
        <p class="how-buy__text">
          Оплатить карту на кассе или онлайн в нашем магазине
        </p>
      </li>
      <li class="how-buy__item">
        <p class="how-buy__text">
          Подарите карту и пожелайте приятных покупок!
        </p>
      </li>
    </ul>
  </div>
</section>
