<section class="instructions">
  <div class="container">
    <h2 class="instructions__title page-title">
      Как оформить заказ? Пошаговая инструкция
    </h2>

    <ol class="instructions__list">
      <li class="instructions__item">
        <div class="instructions__text">1. Найти необходимый товар;</div>
      </li>
      <li class="instructions__item">
        <div class="instructions__text">
          2. Выбрать необходимый размер. Для этого используйте
          <button class="table-btn" type="button">таблицу с размерами</button>;
        </div>
        <div class="instructions__img">
          <picture>
            <source
              srcset="img/instructions/2.webp, img/instructions/2-2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="img/instructions/2.jpg, img/instructions/2-2x.jpg 2x"
              src="img/types/2.jpg"
              alt="img"
            />
          </picture>
        </div>
      </li>
      <li class="instructions__item">
        <div class="instructions__text">
          3. Нажать на кнопку “Добавить в корзину”.
        </div>
      </li>
      <li class="instructions__item">
        <div class="instructions__text">
          4. На экране появится окно, что товар добавлен в корзину.
        </div>
        <div class="instructions__img">
          <picture>
            <source
              srcset="img/instructions/4.webp, img/instructions/4-2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="img/instructions/4.jpg, img/instructions/4-2x.jpg 2x"
              src="img/types/4.jpg"
              alt="img"
            />
          </picture>
        </div>
      </li>
      <li class="instructions__item">
        <div class="instructions__text">
          5. Необходимо перейти в корзину, она находится в правом вверхнем углу.
        </div>
        <div class="instructions__img">
          <picture>
            <source
              srcset="img/instructions/5.webp, img/instructions/5-2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="img/instructions/5.jpg, img/instructions/5-2x.jpg 2x"
              src="img/types/5.jpg"
              alt="img"
            />
          </picture>
        </div>
      </li>
      <li class="instructions__item">
        <div class="instructions__text">
          6. На странице с корзиной необходимо заполнить данные.
        </div>
      </li>
      <li class="instructions__item">
        <div class="instructions__text">
          7. Выбрать удобный способ получения товара.
        </div>
        <div class="instructions__img">
          <picture>
            <source
              srcset="img/instructions/7.webp, img/instructions/7-2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="img/instructions/7.jpg, img/instructions/7-2x.jpg 2x"
              src="img/types/7.jpg"
              alt="img"
            />
          </picture>
        </div>
      </li>
      <li class="instructions__item">
        <div class="instructions__text">8. Выбрать способ оплаты.</div>
        <div class="instructions__img">
          <picture>
            <source
              srcset="img/instructions/8.webp, img/instructions/8-2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="img/instructions/8.jpg, img/instructions/8-2x.jpg 2x"
              src="img/types/8.jpg"
              alt="img"
            />
          </picture>
        </div>
      </li>
      <li class="instructions__item">
        <div class="instructions__text">
          9. После оплаты появится сообщение об успешно завершенной процедуре
          оформления заказа.
        </div>
      </li>
    </ol>
  </div>
</section>
