<section class="note">
  <div class="container">
    <div class="note__wrapper">
      <h2 class="note__title section-title">Пожалуйста, обратите внимание</h2>
      <ul class="note__list">
        <li class="note__item">
          <p class="note-item__text">
            Правилами рекламных акций могут быть предусмотрены ограничения или
            запрет оплаты акционных товаров подарочной картой
          </p>
        </li>
        <li class="note__item">
          <p class="note-item__text">
            Если сумма покупки превышает баланс подарочной карты, покупатель
            может доплатить недостающую сумму
          </p>
        </li>
        <li class="note__item">
          <p class="note-item__text">
            Подарочная карта не подлежит восстановлению в случае кражи или утери
          </p>
        </li>
        <li class="note__item">
          <p class="note-item__text">
            Подарочными картами можно оплатить любые товары или услуги, кроме
            списка исключений
          </p>
        </li>
      </ul>
      <a class="note__btn btn" href="#">Правила использования карт</a>
    </div>
  </div>
</section>
