<section class="policy">
  <div class="container">
    <h1 class="page-title">Политика конфендициальности</h1>

    <h2 class="page-heading">1. ПОНЯТИЯ И ОПРЕДЕЛЕНИЯ</h2>

    <p class="mb-20">
      1.1. Исполнитель – Общество с ограниченной ответственностью «Локалкитчен»,
      оказывающее услуги общественного питания на условиях настоящей оферты.
    </p>
    <p class="mb-20">
      1.2. Заказчик – физическое лицо, которое пользуется услугами общественного
      питания, оказываемыми Исполнителем на условиях настоящей оферты, для
      удовлетворения личных потребностей в общественном питании.
    </p>
    <p class="mb-20">
      1.3. Услуги – деятельность Исполнителя, направленная на удовлетворение
      потребностей физических лиц в общественном питании на условиях настоящей
      оферты, выражающаяся в размещении информации о продукции в приложении,
      приготовлении Продукции и организации доставки Продукции Райдером
      соответствующему Заказчику при помощи Приложения.
    </p>
    <p class="mb-20">
      1.4. Приложение – программное обеспечение «Кухня на районе:еда, доставка»,
      предназначенное для работы на мобильных устройствах с платформой iOS и
      «Кухня на районе: доставка еды и продуктов на дом", предназначенное для
      работы на мобильных устройствах с платформой Android и HUAWEI, при помощи
      которого Исполнителем оказываются услуги общественного питания.
    </p>
    <p class="mb-20">
      1.5. Продукция – материализованный результат оказания услуг общественного
      питания Исполнителем, предназначенный для удовлетворения личных
      потребностей Заказчика в общественном питании.
    </p>
    <p class="mb-20">
      1.6. Учетная запись - используемая Заказчиком и хранимая Исполнителем
      совокупность данных о Заказчике, необходимая для предоставления повторного
      доступа к Приложению и Личному кабинету.
    </p>
    <p class="mb-20">
      1.7. Личный кабинет – специализированный справочно-информационный раздел
      Заказчика в приложении, включающий в себя контактные данные Заказчика, а
      также информацию об оказываемых услугах.
    </p>
  </div>
</section>
