<div class="orders">
  <div class="orders__tabs tabs-orders">
    <div class="tabs-orders__top">
      <span class="tabs-orders__title">Мои заказы</span>

      <div class="tabs-orders__btns">
        <button class="tabs-orders__btn active" type="button">Активные 4</button>
        <button class="tabs-orders__btn" type="button">Архив 2</button>
      </div>
    </div>
    <div class="tabs-orders__content active">
      <ul class="tabs-orders__list">
        <li class="tabs-order__item">
          <div class="orders-card">
            <div class="orders-card__top">
              <div class="orders-card__info">
                <p class="orders-card__name">Заказ №513308509</p>
                <p class="orders-card__type">В доставке</p>
              </div>
              <div class="orders-card__btns">
                <button class="orders-card__btn btn-transparent" type="button">
                  Отменить доставку
                </button>
                <button class="orders-card__btn" type="button">
                  Отследить заказ
                </button>
              </div>
            </div>
            <ul class="orders-card__items">
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="tabs-order__item">
          <div class="orders-card">
            <div class="orders-card__top">
              <div class="orders-card__info">
                <p class="orders-card__name">Заказ №513308509</p>
                <p class="orders-card__type">Процес оплаты</p>
              </div>
              <div class="orders-card__btns">
                <button class="orders-card__btn btn-transparent" type="button">
                  Отменить
                </button>
                <button class="orders-card__btn" type="button">Оплатить</button>
              </div>
            </div>
            <ul class="orders-card__items">
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="tabs-order__item">
          <div class="orders-card">
            <div class="orders-card__top">
              <div class="orders-card__info">
                <p class="orders-card__name">Заказ №513308509</p>
                <p class="orders-card__type">В сборке</p>
              </div>
              <div class="orders-card__btns">
                <button class="orders-card__btn btn-transparent" type="button">
                  Отменить
                </button>
              </div>
            </div>
            <ul class="orders-card__items">
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="tabs-order__item">
          <div class="orders-card">
            <div class="orders-card__top">
              <div class="orders-card__info">
                <p class="orders-card__name">Заказ №513308509</p>
                <p class="orders-card__type">
                  Доствлен
                  <span class="orders-card__date">22 Января, 2022</span>
                </p>
              </div>
              <div class="orders-card__btns">
                <button class="orders-card__btn btn-transparent" type="button">
                  Повторить
                </button>
              </div>
            </div>
            <ul class="orders-card__items">
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="tabs-orders__content">
      <ul class="tabs-orders__list">
        <li class="tabs-order__item">
          <div class="orders-card">
            <div class="orders-card__top">
              <div class="orders-card__info">
                <p class="orders-card__name">Заказ №513308509</p>
                <p class="orders-card__type">В доставке</p>
              </div>
              <div class="orders-card__btns">
                <button class="orders-card__btn btn-transparent" type="button">
                  Отменить доставку
                </button>
                <button class="orders-card__btn" type="button">
                  Отследить заказ
                </button>
              </div>
            </div>
            <ul class="orders-card__items">
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="tabs-order__item">
          <div class="orders-card">
            <div class="orders-card__top">
              <div class="orders-card__info">
                <p class="orders-card__name">Заказ №513308509</p>
                <p class="orders-card__type">Процес оплаты</p>
              </div>
              <div class="orders-card__btns">
                <button class="orders-card__btn btn-transparent" type="button">
                  Отменить
                </button>
                <button class="orders-card__btn" type="button">Оплатить</button>
              </div>
            </div>
            <ul class="orders-card__items">
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="tabs-order__item">
          <div class="orders-card">
            <div class="orders-card__top">
              <div class="orders-card__info">
                <p class="orders-card__name">Заказ №513308509</p>
                <p class="orders-card__type">В сборке</p>
              </div>
              <div class="orders-card__btns">
                <button class="orders-card__btn btn-transparent" type="button">
                  Отменить
                </button>
              </div>
            </div>
            <ul class="orders-card__items">
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="tabs-order__item">
          <div class="orders-card">
            <div class="orders-card__top">
              <div class="orders-card__info">
                <p class="orders-card__name">Заказ №513308509</p>
                <p class="orders-card__type">
                  Доствлен
                  <span class="orders-card__date">22 Января, 2022</span>
                </p>
              </div>
              <div class="orders-card__btns">
                <button class="orders-card__btn btn-transparent" type="button">
                  Повторить
                </button>
              </div>
            </div>
            <ul class="orders-card__items">
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
              <li class="order-card__item">
                <a class="orders-card__link" href="#">
                  <picture>
                    <source
                      srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
                      type="image/webp"
                    />
                    <img
                      srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
                      src="img/orders/1.jpg"
                      alt="img"
                    />
                  </picture>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
