<div class="profile-cards">
  <div class="profile-box">
    <h2 class="profile-box__title section-title">
      Проверить баланс подарочной карты
    </h2>

    <form class="form-default">
      <div class="form-default__inner">
        <div class="form-default__group">
          <label class="form-default__label">Введите пин код карты*</label>
          <input class="form-default__input" type="text" />
        </div>
        <button class="form-default__btn btn" type="button">Проверить</button>
      </div>
    </form>
  </div>
</div>
