<div class="order">
  <div class="order__top">Заказ №513308509</div>

  <ul class="order__list">
    <li class="order__item">
      <div class="cart-card">
        <button class="btn-fav" type="button" aria-label="Добавить в избранное">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
            />
          </svg>
        </button>
        <a class="cart-card__img" href="#">
          <picture>
            <source
              srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
              src="img/orders/1.jpg"
              alt="img"
            />
          </picture>
        </a>
        <div class="cart-card__info">
          <h3 class="cart-card__title">
            Мужская куртка Burton Prowess STORY MSG SNACK SHIRT
          </h3>
          <span class="cart-card__code">111253</span>
          <div class="cart-card__details">
            <div class="cart-card__detail">Рамер <span>XS</span></div>
            <div class="cart-card__detail">Цвет <span>Красный</span></div>
          </div>
        </div>
        <div class="cart-card__size">Размер – XS</div>
        <p class="cart-card__price">53,490 ₽</p>
      </div>
    </li>
    <li class="order__item">
      <div class="cart-card">
        <button class="btn-fav" type="button" aria-label="Добавить в избранное">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
            />
          </svg>
        </button>
        <a class="cart-card__img" href="#">
          <picture>
            <source
              srcset="img/orders/1.webp, img/orders/1-2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="img/orders/1.jpg, img/orders/1-2x.jpg 2x"
              src="img/orders/1.jpg"
              alt="img"
            />
          </picture>
        </a>
        <div class="cart-card__info">
          <h3 class="cart-card__title">
            Мужская куртка Burton Prowess STORY MSG SNACK SHIRT
          </h3>
          <span class="cart-card__code">111253</span>
          <div class="cart-card__details">
            <div class="cart-card__detail">Рамер <span>XS</span></div>
            <div class="cart-card__detail">Цвет <span>Красный</span></div>
          </div>
        </div>
        <div class="cart-card__size">Размер – XS</div>
        <p class="cart-card__price">53,490 ₽</p>
      </div>
    </li>
  </ul>

  <div class="order__boxes">
    <div class="order-box">
      <dl class="order-box__list">
        <div class="order-box__item">
          <dt class="order-box__name">Cрок доставки:</dt>
          <dd class="order-box__value">19.05.2022</dd>
        </div>
        <div class="order-box__item">
          <dt class="order-box__name">Cпособ доставки:</dt>
          <dd class="order-box__value">Доставка курьером</dd>
        </div>
        <div class="order-box__item">
          <dt class="order-box__name">Адрес доставки:</dt>
          <dd class="order-box__value">
            680000, Хабаровск г, Тургенева ул, д.49, оф. 12, Пн-Пт 10:00-19:00;
            Сб-Сб 10:00-15:00
          </dd>
        </div>
      </dl>
    </div>
    <div class="order-box">
      <dl class="order-box__list">
        <div class="order-box__item order-box__item--prices">
          <dt class="order-box__name">Скидка на товары:</dt>
          <dd class="order-box__value">-5,400 ₽</dd>
        </div>
        <div class="order-box__item order-box__item--prices">
          <dt class="order-box__name">Cрок доставки:</dt>
          <dd class="order-box__value">5,000 ₽</dd>
        </div>
        <div class="order-box__item order-box__item--prices">
          <dt class="order-box__name">Cпособ доставки:</dt>
          <dd class="order-box__value">1,000,000 ₽</dd>
        </div>
      </dl>
      <button class="order-box__btn btn" type="button">Оплатить</button>
    </div>
  </div>
</div>
