<section class="quick-btns">
  <div class="container">
    <h2 class="quick-btns__title">Возможно, вам будет интересно!</h2>

    <ul class="quick-btns__list">
      <li class="quick-btns__item">
        <a class="quick-btns__btn btn btn--transparent" href="#">Главная</a>
      </li>
      <li class="quick-btns__item">
        <a class="quick-btns__btn btn btn--transparent" href="#">Новинки</a>
      </li>
      <li class="quick-btns__item">
        <a class="quick-btns__btn btn btn--transparent" href="#">Бренды</a>
      </li>
      <li class="quick-btns__item">
        <a class="quick-btns__btn btn btn--transparent" href="#">Скидки</a>
      </li>
    </ul>
  </div>
</section>
