<section class="snowboard-purpose">
  <div class="container">
    <h2 class="snowboard-purpose__title section-title">Назначение сноуборда</h2>
    <p class="snowboard-purpose__text">
      В этом классе представлены доски для различных форматов трюкового катания
      — прыжков на трамплинах в парке и хафпайпе, джиббинга и flat-фристайла.
      Конструкция и свойства конкретных сноубордов могут сильно разниться, но
      объединяет их ряд общих черт, которые облегчают выполнение трюков. Это
      возможность одинаково комфортно кататься и прыгать в прямой и обратной
      стойках, а также сравнительная мягкость и гибкость доски.
    </p>
  </div>

  <div class="snowboard-purpose__img-wrap">
    <div class="container">
      <picture>
        <source srcset="img/snowboard-purpose-img.webp" type="image/webp" />
        <img
          class="snowboard-purpose__img"
          src="img/snowboard-purpose-img.jpg"
          alt="img"
        />
      </picture>
    </div>
  </div>

  <div class="container">
    <div class="table">
      <div class="table__wrapper">
        <ul class="table__row">
          <li class="table__item">Обхват груди (см)</li>
          <li class="table__item">78-82</li>
          <li class="table__item">82-86</li>
          <li class="table__item">86-90</li>
          <li class="table__item">90-94</li>
          <li class="table__item">94-98</li>
          <li class="table__item">98-102</li>
          <li class="table__item">102-106</li>
          <li class="table__item">106-110</li>
          <li class="table__item">110-114</li>
          <li class="table__item">114-118</li>
        </ul>
        <ul class="table__row">
          <li class="table__item">Обхват груди (см)</li>
          <li class="table__item">78-82</li>
          <li class="table__item">82-86</li>
          <li class="table__item">86-90</li>
          <li class="table__item">90-94</li>
          <li class="table__item">94-98</li>
          <li class="table__item">98-102</li>
          <li class="table__item">102-106</li>
          <li class="table__item">106-110</li>
          <li class="table__item">110-114</li>
          <li class="table__item">114-118</li>
        </ul>
        <ul class="table__row">
          <li class="table__item">Обхват груди (см)</li>
          <li class="table__item">78-82</li>
          <li class="table__item">82-86</li>
          <li class="table__item">86-90</li>
          <li class="table__item">90-94</li>
          <li class="table__item">94-98</li>
          <li class="table__item">98-102</li>
          <li class="table__item">102-106</li>
          <li class="table__item">106-110</li>
          <li class="table__item">110-114</li>
          <li class="table__item">114-118</li>
        </ul>
        <ul class="table__row">
          <li class="table__item">Обхват груди (см)</li>
          <li class="table__item">78-82</li>
          <li class="table__item">82-86</li>
          <li class="table__item">86-90</li>
          <li class="table__item">90-94</li>
          <li class="table__item">94-98</li>
          <li class="table__item">98-102</li>
          <li class="table__item">102-106</li>
          <li class="table__item">106-110</li>
          <li class="table__item">110-114</li>
          <li class="table__item">114-118</li>
        </ul>
        <ul class="table__row">
          <li class="table__item">Обхват груди (см)</li>
          <li class="table__item">78-82</li>
          <li class="table__item">82-86</li>
          <li class="table__item">86-90</li>
          <li class="table__item">90-94</li>
          <li class="table__item">94-98</li>
          <li class="table__item">98-102</li>
          <li class="table__item">102-106</li>
          <li class="table__item">106-110</li>
          <li class="table__item">110-114</li>
          <li class="table__item">114-118</li>
        </ul>
        <ul class="table__row">
          <li class="table__item">Обхват груди (см)</li>
          <li class="table__item">78-82</li>
          <li class="table__item">82-86</li>
          <li class="table__item">86-90</li>
          <li class="table__item">90-94</li>
          <li class="table__item">94-98</li>
          <li class="table__item">98-102</li>
          <li class="table__item">102-106</li>
          <li class="table__item">106-110</li>
          <li class="table__item">110-114</li>
          <li class="table__item">114-118</li>
        </ul>
        <ul class="table__row">
          <li class="table__item">Обхват груди (см)</li>
          <li class="table__item">78-82</li>
          <li class="table__item">82-86</li>
          <li class="table__item">86-90</li>
          <li class="table__item">90-94</li>
          <li class="table__item">94-98</li>
          <li class="table__item">98-102</li>
          <li class="table__item">102-106</li>
          <li class="table__item">106-110</li>
          <li class="table__item">110-114</li>
          <li class="table__item">114-118</li>
        </ul>
        <ul class="table__row">
          <li class="table__item">Обхват груди (см)</li>
          <li class="table__item">78-82</li>
          <li class="table__item">82-86</li>
          <li class="table__item">86-90</li>
          <li class="table__item">90-94</li>
          <li class="table__item">94-98</li>
          <li class="table__item">98-102</li>
          <li class="table__item">102-106</li>
          <li class="table__item">106-110</li>
          <li class="table__item">110-114</li>
          <li class="table__item">114-118</li>
        </ul>
        <ul class="table__row">
          <li class="table__item">Обхват груди (см)</li>
          <li class="table__item">78-82</li>
          <li class="table__item">82-86</li>
          <li class="table__item">86-90</li>
          <li class="table__item">90-94</li>
          <li class="table__item">94-98</li>
          <li class="table__item">98-102</li>
          <li class="table__item">102-106</li>
          <li class="table__item">106-110</li>
          <li class="table__item">110-114</li>
          <li class="table__item">114-118</li>
        </ul>
        <ul class="table__row">
          <li class="table__item">Обхват груди (см)</li>
          <li class="table__item">78-82</li>
          <li class="table__item">82-86</li>
          <li class="table__item">86-90</li>
          <li class="table__item">90-94</li>
          <li class="table__item">94-98</li>
          <li class="table__item">98-102</li>
          <li class="table__item">102-106</li>
          <li class="table__item">106-110</li>
          <li class="table__item">110-114</li>
          <li class="table__item">114-118</li>
        </ul>
      </div>
    </div>
  </div>
</section>
