<section class="subscribe">
  <div class="container">
    <div class="subscribe__wrapper">
      <h2 class="subscribe__title section-title">
        Подпишитесь на рассылку и получите скидку 10%
      </h2>
      <p class="subscribe__text">
        Ранний доступ к распродаже, информация о новинках — для подписчиков
        рассылки.
      </p>

      <form class="subscribe__form form-submit">
        <div class="form-submit__checkboxes">
          <label class="checkbox">
            <input class="checkbox__input" type="radio" name="category" />
            <span class="checkbox__box"></span>
            <span class="checkbox__text"> Мужское </span>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="radio" name="category" />
            <span class="checkbox__box"></span>
            <span class="checkbox__text"> Женское </span>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="radio" name="category" />
            <span class="checkbox__box"></span>
            <span class="checkbox__text"> Детское </span>
          </label>
        </div>
        <label class="form-submit__group">
          <input class="form-submit__input" type="email" placeholder="Email" />
        </label>
        <button class="form-submit__btn btn" type="submit">Подписаться</button>

        <p class="form-submit__bottom">
          Подписываясь на рассылку, вы соглашаетесь с этими документами:
          <a href="#">«Условиями пользования»</a> и
          <a href="#">«Политикой конфиденциальности»</a>. Чтобы отписаться,
          нажмите на кнопку в конце любого письма.
        </p>
      </form>
    </div>
  </div>
</section>
