<section class="type-card">
  <div class="container">
    <h1 class="type-card__title page-title">Выберите вариант карты</h1>

    <div class="type-card__wrapper">
      <div class="type-card__left">
        <div class="type-card__box">
          <h2 class="type-card__heading">Выберите номинал карты</h2>
          <form class="form-default">
            <div class="form-default__inner">
              <label class="radio">
                <input class="radio__input" type="radio" name="price" checked />
                <span class="radio__box"></span>
                <span class="radio__text">1,000 ₽</span>
              </label>
              <label class="radio">
                <input class="radio__input" type="radio" name="price" />
                <span class="radio__box"></span>
                <span class="radio__text">3,000 ₽</span>
              </label>
              <label class="radio">
                <input class="radio__input" type="radio" name="price" />
                <span class="radio__box"></span>
                <span class="radio__text">5,000 ₽</span>
              </label>
              <label class="radio">
                <input class="radio__input" type="radio" name="price" />
                <span class="radio__box"></span>
                <span class="radio__text">10,000 ₽</span>
              </label>
              <label class="radio">
                <input class="radio__input" type="radio" name="price" />
                <span class="radio__box"></span>
                <span class="radio__text">20,000 ₽</span>
              </label>
              <label class="radio">
                <input class="radio__input" type="radio" name="price" />
                <span class="radio__box"></span>
                <span class="radio__text">30,000 ₽</span>
              </label>
              <label class="form-default__group">
                <input
                  class="form-default__input"
                  type="text"
                  placeholder="Введите свою сумму"
                />
              </label>
            </div>
          </form>
        </div>
        <div class="type-card__box">
          <h2 class="type-card__heading">Получатель сертификата</h2>
          <form class="form-default">
            <div class="form-default__inner">
              <label class="radio">
                <input
                  class="radio__input"
                  type="radio"
                  name="person"
                  checked
                />
                <span class="radio__box"></span>
                <span class="radio__text">Я получаю</span>
              </label>
              <label class="radio">
                <input class="radio__input" type="radio" name="person" />
                <span class="radio__box"></span>
                <span class="radio__text">Другой получает</span>
              </label>
            </div>
          </form>
        </div>
        <div class="type-card__box">
          <h2 class="type-card__heading">Контактные данные получателя</h2>
          <form class="form-default">
            <div class="form-default__inner">
              <div class="form-default__group">
                <label class="form-default__label">Фамилия*</label>
                <input
                  class="form-default__input form-default__input--bg-white"
                  type="text"
                />
              </div>
              <div class="form-default__group">
                <label class="form-default__label">Имя*</label>
                <input
                  class="form-default__input form-default__input--bg-white"
                  type="text"
                />
              </div>
              <div class="form-default__group">
                <label class="form-default__label">Телефон*</label>
                <input
                  class="form-default__input form-default__input--bg-white"
                  type="text"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="type-card__right">
        <div class="right-block">
          <div class="right-block__wrap">
            <div class="right-block__subtotal">
              <span>Общая сумма</span>
              <span>3,000 ₽</span>
            </div>
            <div class="right-block__inner">
              <div class="right-block__total">
                <span>Всего: </span>
                <span class="right-block__price">3,000 ₽</span>
              </div>
              <button class="right-block__btn btn" type="button">
                Оплатить
              </button>
              <p class="right-block__text">
                Нажимая кнопку «Оплатить», Вы подтверждаете, что предоставляете
                Компании свое согласие на обработку Ваших
                <a href="#">персональных данных</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
