<section class="up">
  <div class="container">
    <h1 class="up__title page-title">Вверх</h1>

    <form class="up__form form-default">
      <div class="form-default__inner">
        <div class="form-default__group form-default__group--bg-white">
          <select class="form-default__select">
            <option value="1"></option>
            <option value="2">22.04.22</option>
            <option value="3">22.04.22</option>
            <option value="4">22.04.22</option>
          </select>
          <label class="form-default__label">Пол*</label>
        </div>
        <div class="form-default__group form-default__group--bg-white">
          <select class="form-default__select">
            <option value="1"></option>
            <option value="2">22.04.22</option>
            <option value="3">22.04.22</option>
            <option value="4">22.04.22</option>
          </select>
          <label class="form-default__label">Категория</label>
        </div>
        <div class="form-default__group form-default__group--bg-white">
          <select class="form-default__select">
            <option value="1"></option>
            <option value="2">22.04.22</option>
            <option value="3">22.04.22</option>
            <option value="4">22.04.22</option>
          </select>
          <label class="form-default__label">Бренд</label>
        </div>
      </div>
    </form>
    <div class="table">
      <div class="table__wrapper">
        <ul class="table__row">
          <li class="table__item">Обхват груди (см)</li>
          <li class="table__item">78-82</li>
          <li class="table__item">82-86</li>
          <li class="table__item">86-90</li>
          <li class="table__item">90-94</li>
          <li class="table__item">94-98</li>
          <li class="table__item">98-102</li>
          <li class="table__item">102-106</li>
          <li class="table__item">106-110</li>
          <li class="table__item">110-114</li>
          <li class="table__item">114-118</li>
        </ul>
        <ul class="table__row">
          <li class="table__item">Обхват груди (см)</li>
          <li class="table__item">78-82</li>
          <li class="table__item">82-86</li>
          <li class="table__item">86-90</li>
          <li class="table__item">90-94</li>
          <li class="table__item">94-98</li>
          <li class="table__item">98-102</li>
          <li class="table__item">102-106</li>
          <li class="table__item">106-110</li>
          <li class="table__item">110-114</li>
          <li class="table__item">114-118</li>
        </ul>
        <ul class="table__row">
          <li class="table__item">Обхват груди (см)</li>
          <li class="table__item">78-82</li>
          <li class="table__item">82-86</li>
          <li class="table__item">86-90</li>
          <li class="table__item">90-94</li>
          <li class="table__item">94-98</li>
          <li class="table__item">98-102</li>
          <li class="table__item">102-106</li>
          <li class="table__item">106-110</li>
          <li class="table__item">110-114</li>
          <li class="table__item">114-118</li>
        </ul>
        <ul class="table__row">
          <li class="table__item">Обхват груди (см)</li>
          <li class="table__item">78-82</li>
          <li class="table__item">82-86</li>
          <li class="table__item">86-90</li>
          <li class="table__item">90-94</li>
          <li class="table__item">94-98</li>
          <li class="table__item">98-102</li>
          <li class="table__item">102-106</li>
          <li class="table__item">106-110</li>
          <li class="table__item">110-114</li>
          <li class="table__item">114-118</li>
        </ul>
        <ul class="table__row">
          <li class="table__item">Обхват груди (см)</li>
          <li class="table__item">78-82</li>
          <li class="table__item">82-86</li>
          <li class="table__item">86-90</li>
          <li class="table__item">90-94</li>
          <li class="table__item">94-98</li>
          <li class="table__item">98-102</li>
          <li class="table__item">102-106</li>
          <li class="table__item">106-110</li>
          <li class="table__item">110-114</li>
          <li class="table__item">114-118</li>
        </ul>
        <ul class="table__row">
          <li class="table__item">Обхват груди (см)</li>
          <li class="table__item">78-82</li>
          <li class="table__item">82-86</li>
          <li class="table__item">86-90</li>
          <li class="table__item">90-94</li>
          <li class="table__item">94-98</li>
          <li class="table__item">98-102</li>
          <li class="table__item">102-106</li>
          <li class="table__item">106-110</li>
          <li class="table__item">110-114</li>
          <li class="table__item">114-118</li>
        </ul>
        <ul class="table__row">
          <li class="table__item">Обхват груди (см)</li>
          <li class="table__item">78-82</li>
          <li class="table__item">82-86</li>
          <li class="table__item">86-90</li>
          <li class="table__item">90-94</li>
          <li class="table__item">94-98</li>
          <li class="table__item">98-102</li>
          <li class="table__item">102-106</li>
          <li class="table__item">106-110</li>
          <li class="table__item">110-114</li>
          <li class="table__item">114-118</li>
        </ul>
        <ul class="table__row">
          <li class="table__item">Обхват груди (см)</li>
          <li class="table__item">78-82</li>
          <li class="table__item">82-86</li>
          <li class="table__item">86-90</li>
          <li class="table__item">90-94</li>
          <li class="table__item">94-98</li>
          <li class="table__item">98-102</li>
          <li class="table__item">102-106</li>
          <li class="table__item">106-110</li>
          <li class="table__item">110-114</li>
          <li class="table__item">114-118</li>
        </ul>
        <ul class="table__row">
          <li class="table__item">Обхват груди (см)</li>
          <li class="table__item">78-82</li>
          <li class="table__item">82-86</li>
          <li class="table__item">86-90</li>
          <li class="table__item">90-94</li>
          <li class="table__item">94-98</li>
          <li class="table__item">98-102</li>
          <li class="table__item">102-106</li>
          <li class="table__item">106-110</li>
          <li class="table__item">110-114</li>
          <li class="table__item">114-118</li>
        </ul>
        <ul class="table__row">
          <li class="table__item">Обхват груди (см)</li>
          <li class="table__item">78-82</li>
          <li class="table__item">82-86</li>
          <li class="table__item">86-90</li>
          <li class="table__item">90-94</li>
          <li class="table__item">94-98</li>
          <li class="table__item">98-102</li>
          <li class="table__item">102-106</li>
          <li class="table__item">106-110</li>
          <li class="table__item">110-114</li>
          <li class="table__item">114-118</li>
        </ul>
      </div>
    </div>
  </div>
</section>
