<section class="watched">
  <div class="container">
    <h2 class="watched__title section-title">Вы смотрели ранее</h2>

    <div class="products-grid">
      <ul class="products-grid__list">
        <li class="snowboard-products__item">
          <article class="products-card">
            <button
              class="products-card__btn-fav products-card__btn-fav--fill"
              type="button"
              aria-label="Добавить в избранное"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                />
              </svg>
            </button>
            <a class="products-card__top" href="#">
              <picture>
                <source srcset="img/snowboards/1.webp" type="image/webp" />
                <img src="img/snowboards/1.png" alt="img" />
              </picture>
            </a>
            <div class="products-card__body">
              <h3 class="products-card__title">Kapita</h3>
              <div class="products-card__text">
                <p>Сноуборды CAPITA</p>
                <p>MICRO MINI</p>
              </div>
              <span class="products-card__price">26 950 руб</span>

              <button class="products-card__btn btn" type="button">
                Добавить
              </button>
            </div>
          </article>
        </li>
        <li class="products-grid__item">
          <article class="products-card">
            <button
              class="products-card__btn-fav products-card__btn-fav--fill"
              type="button"
              aria-label="Добавить в избранное"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                />
              </svg>
            </button>
            <a class="products-card__top" href="#">
              <picture>
                <source srcset="img/snowboards/2.webp" type="image/webp" />
                <img src="img/snowboards/2.png" alt="img" />
              </picture>
            </a>
            <div class="products-card__body">
              <h3 class="products-card__title">Kapita</h3>
              <div class="products-card__text">
                <p>Сноуборды CAPITA</p>
                <p>MICRO MINI</p>
              </div>
              <span class="products-card__price">26 950 руб</span>

              <button class="products-card__btn btn" type="button">
                Добавить
              </button>
            </div>
          </article>
        </li>
        <li class="products-grid__item">
          <article class="products-card">
            <button
              class="products-card__btn-fav products-card__btn-fav--fill"
              type="button"
              aria-label="Добавить в избранное"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                />
              </svg>
            </button>
            <a class="products-card__top" href="#">
              <picture>
                <source srcset="img/snowboards/3.webp" type="image/webp" />
                <img src="img/snowboards/3.png" alt="img" />
              </picture>
            </a>
            <div class="products-card__body">
              <h3 class="products-card__title">Kapita</h3>
              <div class="products-card__text">
                <p>Сноуборды CAPITA</p>
                <p>MICRO MINI</p>
              </div>
              <span class="products-card__price">26 950 руб</span>

              <button class="products-card__btn btn" type="button">
                Добавить
              </button>
            </div>
          </article>
        </li>
        <li class="products-grid__item">
          <article class="products-card">
            <button
              class="products-card__btn-fav products-card__btn-fav--fill"
              type="button"
              aria-label="Добавить в избранное"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                />
              </svg>
            </button>
            <a class="products-card__top" href="#">
              <picture>
                <source srcset="img/snowboards/4.webp" type="image/webp" />
                <img src="img/snowboards/4.png" alt="img" />
              </picture>
            </a>
            <div class="products-card__body">
              <h3 class="products-card__title">Kapita</h3>
              <div class="products-card__text">
                <p>Сноуборды CAPITA</p>
                <p>MICRO MINI</p>
              </div>
              <span class="products-card__price">26 950 руб</span>

              <button class="products-card__btn btn" type="button">
                Добавить
              </button>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
